[submodule "Methods-of-classification-and-regression"]
	path = Methods-of-classification-and-regression
	url = https://github.com/shubhangighosh/Methods-of-classification-and-regression.git
[submodule "Original-Backpropagation"]
	path = Original-Backpropagation
	url = https://github.com/shubhangighosh/Original-Backpropagation.git
[submodule "Feature-Extraction-and-Classification"]
	path = Feature-Extraction-and-Classification
	url = https://github.com/shubhangighosh/Feature-Extraction-and-Classification.git
[submodule "Spam-filter"]
	path = Spam-filter
	url = https://github.com/shubhangighosh/Spam-filter.git
