[submodule "Methods-of-classification-and-regression"]
	path = Methods-of-classification-and-regression
	url = https://github.com/shubhangighosh/Methods-of-classification-and-regression.git
[submodule "Original-Backpropagation"]
	path = Original-Backpropagation
	url = https://github.com/shubhangighosh/Original-Backpropagation.git
